{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sandsharkdifm/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sandsharkdifm/css/difm.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/sandsharkdifm/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/sandsharkdifm/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/sandsharkdifm/js/PlaylistController.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            new PlaylistController();
        });
    </script>
{% endblock %}

{% block title %}DI.fm all channels playlist{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>DI.fm download all channels playlist</h1>

            <p class="well well-lg">
                Also want a <a href="http://di.fm" target="_blank">di.fm</a> playlist of all channels, without having to
                add them all to
                your favorites?

                Then this might be a solution for you.
                I have created a little script that generates <strong>.pls</strong> and <strong>.m3u</strong> playlists
                by entering your listen key.
                The data is retrieved from a di.fm api, so the channels will always be up to date!
            </p>

            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Download playlist</h3>
                        </div>
                        <div class="panel-body home-block">
                            <div class="form-group">
                                <label>URI / Bookmark</label>
                                <br/>
                                <a id="permaLink" href=""></a>
                            </div>
                            <div class="form-group">
                                <label for="listenKey">DI.fm Listen key <span
                                            class="glyphicon glyphicon-question-sign text-info"
                                            title="Find your listen key in under Player Settings"> </span>
                                </label>
                                <input id="listenKey" name="listenKey" class="pull-right input-difm form-control"
                                       placeholder="3x4mpl3"/>
                            </div>
                            <div class="form-group">
                                <div id="has_premium" class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="premium" value="0" id="free" checked>
                                        <strong>Free</strong>
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="premium" value="1" id="premium">
                                        <strong>Premium</strong>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="type" class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="type" value="pls" id="pls" checked>
                                        <strong>.pls</strong>
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="type" value="m3u" id="m3u">
                                        <strong>.m3u</strong>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="site" class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="site" value="difm" id="difm" checked>
                                        <strong>
                                            DI.fm
                                        </strong>
                                        <span class="badge" title="Channel Count;
Cached on:      {{ diCacheDate }}
Next update: {{ diNextUpdate }}"># {{ diChannelCount }}</span>
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="site" value="radiotunes" id="radiotunes">
                                        <strong>
                                            RadioTunes
                                        </strong>
                                        <span class="badge" title="Channel Count;
Cached on:      {{ rtCacheDate }}
Next update: {{ rtNextUpdate }}"># {{ rtChannelCount }}</span>
                                    </label>
                                    {#
                                    <label class="btn btn-default">
                                        <input type="radio" name="site" value="jazzradio" id="radiotunes">
                                        <strong>JazzRadio</strong>
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="site" value="rockradio" id="radiotunes">
                                        <strong>RockRadio</strong>
                                    </label>
                                    #}
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="generateBtn" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-music"> Download</span>
                                </button>
                                <br/><br/>
                                <a href="http://www.di.fm/" target="_blank">Create di.fm account (14d premium trial)</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Roadmap</h3>
                        </div>
                        <div class="panel-body home-block">
                            <ul class="list-group">
                                <li class="list-group-item"><span class="glyphicon glyphicon-wrench"></span> Make
                                    prettier interface
                                </li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-wrench"></span> Add quality
                                    options
                                </li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-wrench"></span> Add support
                                    for other audioaddict sites
                                </li>
                                <li class="list-group-item"><span class="glyphicon glyphicon-wrench"></span> Listen to
                                    your feedback (see github)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <small class="text-center col-lg-12 col-sm-12 text-info footer">
                Copyright &copy; 2015 <a href="http://sandshark.be">sandshark.be</a>
                |
                <a href="https://github.com/janvernieuwe/difm-playlist/blob/master/LICENSE">MIT Licence</a>
                |
                <a href="https://github.com/janvernieuwe/difm-playlist"
                   target="_blank">github page</a>
            </small>
        </div>
    </div>


{% endblock %}